.currency-converter {
    width: 80%;
    margin: auto;
}

.general {
    background: #1D1E40;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    border-top: 6px solid #41C8F3;
}

.input-box > h2 {
    color: rgb(238, 238, 238);
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

div.input-box > p {
    color: rgba(87, 86, 86, 0.637);
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.converter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.converter-data {
    width: 60%;
}

.data-container {
    text-align: center;
}

.converter-data > p {
    color: rgba(87, 86, 86, 0.637);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.data-container > input {
    padding: 13px;
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: #41C8F3;
    font-weight: 400;
}

.data-container > select {
    /* width: 20%; */
    height: 30px;
    margin-top: 10px;
    background: #23263D;
    border: 0;
    outline: 0;
    padding: 7px;
    color: #41C8F3;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.convert-btn {
    width: 170px;
    margin: auto;
    height: 40px;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #41C8F3;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: rgb(41, 41, 41);
    font-weight: 600;
    border-radius: 5px;
}

@media screen and (max-width: 880px) {
    .currency-converter {
        width: 90%;
    }

    .general {
        width: 50%;
    }
}

@media screen and (max-width: 680px) {
    .currency-converter {
        width: 100%;
    }

    .general {
        width: 80%;
    }
}